a.icon-link
    { float           : left
    }
.width-2-icons
    { width           : 36px
    ; display         : block
    }
.width-3-icons
    { width           : 54px
    ; display         : block
    }

a.inline-form-add
    {  float:   left
    }

.inline-prototype
    { display:  none;
    }

.completion-list
    { z-Index:          999
    ; position:         absolute
    ; background-color: white
    ; border:           2px solid black
    }

.completion-list p
    { margin:           0px
    }

.completion-list .completion-id
    { display:          none
    }
