div.console
    { border:           1px solid #ccc
    ; padding:          4px
    ; background-color: #fafafa
    }
div.debugger
    { text-align:       left
    ; padding:          12px
    ; margin:           auto
    ; border:           1px solid #aaa
    ; background-color: white
    ; line-height:      1;
    }
div.debugger h1
    { color:            #11557C
    ; font-size:        30px
    ; margin:           0 0 0.3em 0
    }
div.debugger div.detail p
    { margin:           0 0 8px 13px
    ; font-size:        14px
    }
div.debugger div.explanation
    { margin:           13px
    ; font-size:        11px
    }
div.debugger div.footer
    { background-color: #E3EFF1
    ; font-size:        0.8em
    ; text-align:       right
    ; padding:          6px 8px 6px 0
    ; margin:           30px -12px -12px -12px
    ; color:            #86989B
    }

div.traceback, div.plain
    { background-color: #eee!important
    ; border:           1px solid #ccc
    ; margin:           0 0 1em 0
    ; padding:          10px
    }
div.traceback h3
    { font-size:        1em
    ; margin:           0 0 0.8em 0
    }
div.traceback h4
    { font-size:        13px
    ; font-weight:      normal
    ; margin:           0.7em 0 0.1em 0
    }
div.traceback ul
    { list-style:       none
    ; margin:           0
    ; padding:          0 0 0 1em
    }
div.traceback pre
    { margin:           0
    ; padding:          5px 0 3px 15px
    ; background-color: #ccc
    ; border-top:       1px solid #aaa
    ; border-left:      1px solid #aaa
    ; border-right:     1px solid #fafafa
    ; border-bottom:    1px solid #fafafa
    }
div.traceback pre, div.box table.source
    { white-space:      pre-wrap       /* css-3 should we be so lucky... */
    ; white-space:      -moz-pre-wrap  /* Mozilla, since 1999 */
    ; white-space:      -pre-wrap      /* Opera 4-6 ?? */
    ; white-space:      -o-pre-wrap    /* Opera 7 ?? */
    ; word-wrap:        break-word       /* Internet Explorer 5.5+ */
    ; _white-space:     pre            /* IE only hack to re-specify in
                                          addition to word-wrap  */
    }
div.traceback pre:hover
    { background-color: #fafafa
    ; color:            black
    ; cursor:           pointer
    }
div.traceback blockquote
    { margin:           1em 0 0 0
    ; padding:          0
    }
div.traceback img
    { float:            right
    ; padding:          2px
    ; margin:           -3px 2px 0 0
    ; display:          none
    }
div.traceback img:hover
    { background-color: #ddd
    ; cursor:           pointer
    }
div.traceback pre:hover img
    { display:          block
    }
div.traceback cite
    { display:          inline
    }

pre.console
    { background-color: #fafafa!important
    ; color:            black
    ; padding:          5px!important
    ; margin:           3px 0 0 0!important
    ; cursor:           default!important
    ; max-height:       400px
    ; overflow:         auto
    }
pre.console form
    { color:            #555
    }
pre.console input
    { background-color: #fafafa
    ; color:            #555
    ; width:            90%
    ; font-family:        'Consolas', 'Deja Vu Sans Mono'
                        , 'Bitstream Vera Sans Mono', monospace
    ; font-size:        13px
    ; border:           none!important
    }
pre.console div.traceback
    { margin:           5px 0 5px 25px
    ; white-space:      normal
    }
pre.console div.traceback h3
    { background-color: #555
    ; color:            white
    ; margin:           -10px -10px 5px -10px
    ; padding:          5px
    }
pre.console div.traceback pre:hover
    { background-color: #ccc
    ; cursor:           default
    }
span.string
    { color:            #30799B
    }
span.number
    { color:            #9C1A1C
    }
span.object
    { color:            #485F6E
    }
span.extended
    { opacity:          0.5
    }
span.extended:hover
    { opacity:          1
    }

