{% macro form (action = "/login/", css_class = "login", method="POST") -%}
<form method="{{ method }}" action="{{ action }}" class="{{ css_class }}">
  <ul>
    <li><label for="id_username">Username</label></li>
    <li>
      <input id="id_username" name="username" maxlength="30" type="text"/>
    </li>
    <li><label for="id_password">Password</label></li>
    <li><input type="password" name="password" id="id_password"/></li>
    <li>
      <input type="submit" class="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </li>
  </ul>
</form>
{%- endmacro %}
