  {% import "navigation.html" as navigation %}
  {% import "login_form.html" as login      %}
  {{ navigation.nav_section(request.user, nav_page, link_list = page.top.own_links, nav_section_id = "ownlinks", nav_section_name = "Navigation") }}
  {{ navigation.nav_section(request.user, nav_page, link_list = page.top.web_links, nav_section_id = "weblinks", nav_section_name = "Wind und Wetter") }}
  <div class="nav-section">
    <h1>Kontakt</h1>
    <ul>
      <li>
        <a href="mailto:office@scams.at" title="Email für SC-AMS">Email</a>
      </li>
    </ul>
  </div>
  <div class="nav-section">
    <h1>Webmaster</h1>
    <ul>
      <li>
        <a href="mailto:christian.tanzer@gmail.com" title="Email für den Webmaster">
          Christian Tanzer
        </a>
      </li>
    </ul>
  </div>
  {% if page.login_page or request.user.is_authenticated %}
    <div class="nav-section login">
      <h1>Login</h1>
      {% if request.user.is_authenticated %}
        <form method="post" action="/logout/">
          <ul>
            <li>
              <input type="submit"  value="Logout {{ request.user.username }}"
                     class="submit" title="Logout {{ request.user.username }}"
              />
              <input type="hidden" name="next" value="{{ request.path }}" />
            </li>
            {#
              XXX <li> Account administration </li>
            #}
          </ul>
        </form>
      {% else %}
        {{ login.form() }}
            {#
              XXX <li> Password reset </li>
            #}
      {% endif %}
    </div>
  {% endif %}
